a.debt {
  display: block;
  text-decoration: none;
  color: initial;
}
.debt {
  background: gray;
  padding: 5px;
}
.debt + .debt {
  margin-top: 5px;
}

.debt.i-owe {
  background: red;
}

.debt.they-owe {
  background: green;
}
